extends ../index.pug 

block variables 
  - var template = 'home'

block content
  .home(data-background='#1e1e1e' data-color='#dedede')
    .home__top
      h1=`${title} Page`
      a(href=link.url)=`${link.text} Link`
    .home__bottom
      .home__media