block variables 

doctype html 
html(lang="en")
  head 
    include layouts/head.pug


  body
    include layouts/nav.pug
    .content#content(data-template=template)
      block content

  if isProduction 
    script(type="module", src="main.js")
  else
    script(type="module", src="/src/app/index.js")
